<div class="modal fade" tabindex="-1" role="dialog" id="annotate-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Annotate corpus by concordance result</h4>
      </div>
      <form class="form" action="{{ url_for('annotate') }}" method="post" name="annotate-form" id="annotate-form" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
      <div class="modal-body" style="overflow-y: auto;">
          <div class="form-group">
            <label class="form-control-label">Level to annotate:</label>
            <input type="checkbox" class="wordsent-toggle" data-width="130" name="wordsent" id="wordsent" checked data-toggle="toggle" data-on="Words" data-off="Sentences" data-onstyle="success" data-offstyle="primary">
          </div>
          <div class="form-group">
            <label class="form-control-label">Annotation field name:</label>
            <input type="text" class="form-control" id="field" name="field">
          </div>

          <div class="form-group">
            <label class="form-control-label">Annotation field value:</label>
            <select data-width="fit" class="selectpicker" id="anno-type" name="anno-type" data-container="body">
            <option value="custom">Custom text</option>
            <optgroup label="Feature">
              {% for subfield in features %}
              <option>{{ subfield }}</option>
            {% endfor %}
            </optgroup>
            <optgroup label="Metadata">
            {% for subfield in metadatas %}
              <option>{{ subfield }}</option>
            {% endfor %}
            </optgroup>
            </select>
          </div>
          <div class="form-group" id="custom-text-space">
            <label class="form-control-label">Custom text:</label>
            <input type="text" class="form-control" id="custom-text-box" name="custom-text-box" disabled>
          </div>          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Annotate</button>
      </div>
    </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
