<!DOCTYPE html>
<title>{% block title %}{% endblock %}</title>
<html>
<head>
{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="robots" content="noindex">
    <script type=text/javascript>
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <script type='text/javascript' src="{{ url_for('static',filename='js/jquery/jquery.min.js') }}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src="https://use.fontawesome.com/999df1846d.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cutive+Mono" rel="stylesheet">

    <!--bootstrap-toggle-->
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

    <!--slickgrid to deprecate-->
    <link rel="stylesheet" href="{{ url_for('static',filename='js/SlickGrid/slick.grid.css') }}" type="text/css"/>
    <!--ekko to deprecate-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/4.0.1/ekko-lightbox.css" integrity="sha256-XsTXMlLpK2ElhCNAVCLBH/GsZQhA6TlPuCrw7LdB41k=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/4.0.1/ekko-lightbox.js" integrity="sha256-lhyCatshbvxXRCFETPkHMsJ55ELbuJme6xDxvZcbmfA=" crossorigin="anonymous"></script>
    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-dropdown/2.0.3/jquery.dropdown.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.css"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

    <!--pivot.js-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-csv/0.71/jquery.csv-0.71.min.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/pivottable/1.6.3/pivot.min.css"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pivottable/1.6.3/pivot.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pivottable/1.6.3/d3_renderers.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pivottable/1.6.3/c3_renderers.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pivottable/1.6.3/export_renderers.min.js"></script>
    
    <!--bootstrap-listgroup (to disable grey items)-->
     <script src="{{ url_for('static',filename='js/bootstrap/listgroup.min.js') }}"></script>

    <!--bootstrap-select -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.min.js"></script>

    <!--bootstrap-slider-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.7.2/css/bootstrap-slider.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.7.2/bootstrap-slider.min.js"></script>

    <!-- bootstrap-table-->
    <link rel="stylesheet" href="{{ url_for('static',filename='js/bootstrap-table/bootstrap-table.min.css') }}"/>
    <script src="{{ url_for('static',filename='js/bootstrap-table/bootstrap-table.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap-table/colResizable-1.6.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap-table/tableExport.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap-table/extensions/resizable/bootstrap-table-resizable.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.3/FileSaver.min.js"></script>
    <script src="{{ url_for('static',filename='js/bootstrap-table/extensions/export/bootstrap-table-export.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap-table/extensions/sticky-header/bootstrap-table-sticky-header.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap-table/extensions/toolbar/bootstrap-table-toolbar.min.js') }}"></script>
    
    <link rel="stylesheet" href="{{ url_for('static',filename='js/bootstrap-table/extensions/sticky-header/bootstrap-table-sticky-header.css') }}"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/svg.js/2.4.0/svg.min.js"></script>
    <script src="{{ url_for('static',filename='js/svg-pan-zoom.min.js') }}"></script>
    
    <!--charts-->
    <script src="{{ url_for('static',filename='js/d3/nv.d3.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='js/d3/nv.d3.min.css') }}" type="text/css"/>

    <!-- icon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    
    <!--main style sheet-->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}"/>

{% endblock %}
</head>

<body>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="modal fade" id="warnings-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Search warning</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" id=modal-text>{{ messages[0] }}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!--disabling this script for now, because it causes a crash!
    <script>
      $('#warnings-modal').show();
    </script>
    -->
  {% endif %}
{% endwith %}


<div id="main-navbar" class="navbar navbar-default navbar-static-top hidden-s" role="navigation">
  <div class="container-fluid" id="navbar-for-color">
    <div class="navbar-header"><a class="navbar-brand" href="http://127.0.0.1:5555/">pollux</a>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse navbar-menubuilder">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Home</a></li>
        <li><a href="/About">About</a></li>
        <li><a href="/help">Help</a></li>
      </ul>
    </div>
  </div>
</div>

<div id="content">{% block content %} {% endblock %}</div>

<div id="footer">
  {% block footer %}
  <div class="container"></div>
  {% endblock %}
</div>
</body>
</html>
